<div class="row">
    <div class="col s6  offset-s3">
        <div class="card">
            <div class="card-image">
                <img src={{book.img}} alt={{book.img}}>
                <span class="card-title" style="color: black;">{{book.name}}</span>
            </div>
            <div class="card-content">
                <p>{{book.price}}</p>
            </div>
            <div class="card-action">
                <a class="btn btn-danger" href="/api/books/remove/{{book.id}}" style="background: red;">Delete</a>

                <a class="btn btn-success" href="/api/books/update/{{book.id}}" style="background: green;">Update</a>
            </div>
        </div>
    </div>
</div>