<h1>All books</h1>

<div class="books">
    {{#if books}}
    <div class="row">
        {{#each books}}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src={{img}} alt={{img}}>
                    <span class=" card-title" style="color: black;">{{name}}</span>
                </div>
                <div class="card-content">
                    <p>{{price}}</p>
                </div>
                <div class="card-action" style="display: flex; justify-content: space-between; align-items: center;">
                    <a href="/api/books/{{id}}">View book</a>

                    <form action="/api/card/add" method="post">
                        <input type="hidden" name="id" id="id" value="{{id}}">
                        <button type="submit" class="btn">Buy</button>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <h2>Books are empty</h2>
    {{/if}}
</div>


<a href="/api/books/add">Add book</a>