<div class="home-page-url">
    <a href="/">Home page</a>
</div>

<table>
    <tr>
        <th>name</th>
        <th>price</th>
        <th>count</th>
    </tr>
    {{#each card.books}}
    <tr>
        <td>{{name}}</td>
        <td class="price">{{price}}</td>
        <td>{{count}}</td>
        <td><a href="/api/card/del/{{id}}/{{price}}" class="btn">del</a></td>
    </tr>
    {{/each}}
</table>

<div class="all-price">
    <p class="price">All price: {{card.price}}</p>
</div>

<script src="/scripts/script.js"></script>